.cnt_introduce .txt {
    max-width: 1160px;
    margin: 167px 0 99px 120px;
}
.cnt_introduce .txt span.recommend {
    display: block;
    margin-top: 52px;
    color: #00AE4D;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: right;
}
.cnt_introduce .txt .purpose {
    background-color: #dedede;
    margin: 0 0 40px -20px;
    padding: 37px 0 34px 20px;
    font-size: 20px;
    line-height: 40px;
}
.cnt_introduce .txt .purpose span {
    color: #00AE4D;  
    font-size: 25px;
    font-weight: 700;
}
.cnt_introduce .txt .txt_inner {
    position: relative;
}
.cnt_introduce .txt .txt_inner p {
    font-size: 20px;
    line-height: 35px;
}
.cnt_introduce .txt .txt_inner p.proud {
    line-height: 30px;
}
.cnt_introduce .txt .txt_inner p span {
    color: #00AE4D;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
}
.cnt_introduce .txt .txt_inner p.proud span {
    line-height: 30px;
}
.cnt_introduce .txt .txt_inner p span.black {
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
}
.cnt_introduce .txt .txt_inner::before {
    position: absolute;
    left: -15px;
    top: -8px;
    width: 3px;
    height: calc(100% + 26px);
    background-color: #aaa;
    content: "";
}
.cnt_introduce .txt .txt_inner .Questions {
    margin: 45px 0 123px 0;
} 
.cnt_introduce .txt .txt_inner .Questions img {
    float: right;
    margin-right: -380px;
    width: 860px;
    mask-repeat: no-repeat;
}
.cnt_introduce .txt .txt_inner .Questions h3 {
    position: relative;
    margin: 0 0 30px 20px;
    font-size: 25px;
    font-weight: 700;
}
.cnt_introduce .txt .txt_inner .Questions h3::before {
    position: absolute;
    left: -19px;
    top: 11px;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: rgba(0,174,77,0.5);
    content: "";
}
.cnt_introduce .txt .txt_inner .Questions .Q1 {
    padding: 67px 0 45px 0;
}
@media screen and (max-width:640px){
  .cnt_introduce .txt {
      max-width: 100%;
      margin: 84px 0 53px 0;
  }
  .cnt_introduce .txt span.recommend {
      margin-top: 22px;
      font-size: 13px;
  }
  .cnt_introduce .txt .purpose {
      background-color: #dedede;
      margin: 0 -20px 40px -20px;
      padding: 20px 20px 18px 20px;
      font-size: 13px;
      line-height: 22px;
      word-break: normal;
  }
  .cnt_introduce .txt .purpose span {  
      font-size: 15px;
  }
  .cnt_introduce .txt .txt_inner p {
      font-size: 13px;
      line-height: 22px;
  }
  .cnt_introduce .txt .txt_inner p.proud {
      line-height: 19px;
  }
  .cnt_introduce .txt .txt_inner p span {
      font-size: 13px;
      line-height: 19px;
  }
  .cnt_introduce .txt .txt_inner p.proud span {
      font-size: 15px;
      line-height: 22px;
  }
  .cnt_introduce .txt .txt_inner p span.black {
      font-size: 13px;
      line-height: 22px;
  }
  .cnt_introduce .txt .txt_inner::before {
      width: 0;
      height: 0;
  }
  .cnt_introduce .txt .txt_inner .Questions {
      margin: 32px 0 35px 0;
  } 
  .cnt_introduce .txt .txt_inner .Questions img {
      float: none;
      width: calc(100% + 40px);
      margin: 0 -20px 25px -20px;
  }
  .cnt_introduce .txt .txt_inner .Questions h3 {
      position: relative;
      margin: 0 0 22px 15px;
      font-size: 15px;
  }
  .cnt_introduce .txt .txt_inner .Questions h3::before {
      left: -14px;
      top: 7px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
  }
  .cnt_introduce .txt .txt_inner .Questions .Q1 {
      padding: 0 0 22px 0;
}
}