@import url('default.css');
@import url('common.css');

.visual {
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
}
.visual .back {
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
}
.visual h2 {
    padding: 34vh 0 0 0;
    font-size: 60px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: -0.05em;
    color: #FFF;
}
.visual h2 span {
    font-weight: 400;
}
@media screen and (max-width:640px){
    .visual h2 {
        font-size: 30px;
    }
}

.hit {
    margin: 67px 0 120px 0;
}
.hit h2 {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.05em;
}
.hit h2 span {
    color: #ccc;
}
.hit .hit_wrap {
    position: relative;
    margin-left: 56px;
    height: 691px;
}
.hit .hit_wrap::before {
    position: absolute;
    left: -38px;
    top: 127px;
    width: 8px;
    height: 167px;
    background-color: #ECECEC;
    content: "";
}
.hit ul {
    padding-top: 157px;
}
.hit ul li {
    margin: 0 0 46px 0;
}
.hit ul li a.tit {
    display: inline-block;
}
.hit ul li a.tit h3 {
    font-size: 25px;
    color: #999;
}
.hit ul li.active a.tit h3 {
    font-weight: 700;
    color: #AD222A;
}
.hit ul li .detail {
    position: absolute;
    display: none;
    left: 294px;
    top: 0;
    width: 1221px;
}
.hit ul li.active .detail {
    display: flex;
    align-items: flex-end;
}
.hit ul li .detail .coffee_pic {
    width: 512px;
    height: 643px;
}
.hit ul li .detail .coffee_pic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hit ul li .detail .navi {
    position: absolute;
    display: flex;
    left: 227px;
    top: 622px;
    width: 560px;
    height: 68px;
    background-color: #EDEDED;
    align-items: center;
    justify-content: space-around;
}
.hit ul li .detail .navi button {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: #FFF;
}
.hit ul li .detail .navi button i {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.hit ul li .detail .navi span {
    font-size: 25px;
    font-weight: 700;
}
.hit ul li .detail .list {
    width: 689px;
    margin-left: 20px;
}
.hit ul li .detail .list ul li {
    text-align: center;
    width: 204px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hit ul li .detail .list ul li h4 {
    font-size: 20px;
    font-weight: 700;
}
.hit ul li .detail .list ul li span {
    color: #ccc;
}
@media screen and (max-width:640px){
    .hit {
        margin: 40px 0 0 0;
    }
    .hit h2 {
        margin-bottom: 40px;
        font-size: 30px;
    }
    .hit .hit_wrap {
        margin-left: 0;
        height: 340px;
    }
    .hit .hit_wrap::before {
        display: none;
    }
    .hit ul {
        padding-top: 0;
    }
    .hit ul li {
        margin: 0 0 0 0;
    }
    .hit ul li a.tit {
        display: none;
    }
    .hit ul li .detail {
        position: relative;
        display: none;
        left: auto;
        top: auto;
        width: auto;
    }
    .hit ul li.active .detail {
        display: block;
    }
    .hit ul li .detail .coffee_pic {
        width: auto;
        height: 282px;
        margin: 0 15%;
    }
    .hit ul li .detail .navi {
        left: 3%;
        top: 264px;
        width: 94%;
        height: 36px;
    }
    .hit ul li .detail .navi button {
        width: 18px;
        height: 18px;
        border-radius: 9px;
    }
    .hit ul li .detail .navi button i {
        font-size: 11px;
        line-height: 18px;
    }
    .hit ul li .detail .navi span {
        font-size: 18px;
    }
    .hit ul li .detail .list ul li {
        display: none;
    }
}

.manage {
    position: relative;
    width: 100%;
    height: 420px;
    z-index: 3;
    background: url(../images/main/manage_bg.png) no-repeat center center / cover;
    letter-spacing: -0.05em;
    color: #FFF;
}
.manage h2 {
    padding: 93px 0 0 0;
    font-size: 50px;
}
.manage h2 span {
    font-weight: 700;
}
.manage h2 br.m_on {
    display: none;
}
@media screen and (max-width:640px){
    .manage {
        width: auto;
        height: 308px;
    }
    .manage h2 {
        padding: 72px 0 0 0;
        font-size: 25px;
    }
    .manage h2 span {
        font-weight: 700;
    }
    .manage h2 br.m_on {
        display: block;
    }
}

.event {
    position: relative;
    height: 835px;
    z-index: 1;
    background-color: #EDEDED;
}
.event .circle {
    position: absolute;
    right: -140px;
    top: -140px;
    z-index: 2;
    width: 319px; 
    height: 319px;
    background: url(../images/main/newevent_circle.png) no-repeat right bottom;
    animation-name: circle_rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circle_rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.event h2 {
    display: none;
}
.event .list {
    position: relative;
    padding: 335px 0 0 0;
}
.event .list ul li {
    position: relative;
}
.event .list ul li.swiper-slide.swiper-slide-next {
    transition: 0.5s;
    transform: translate(0, -156px);
}
.event .list ul li a .txt {
    position: absolute;
    display: none;
    left: -44px;
    top: 306px;
    width: 440px;
    height: 67px;
    background-color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}
.event .list ul li.swiper-slide.swiper-slide-next a .txt {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.event .list ul li a .txt p {
    padding: 6px;
    width: 251px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event .list ul li a .txt p span {
    font-size: 16px;
    color: #B6B6B6;
}
.event .list ul li .navi {
    position: absolute;
    display: none;
    left: 0;
    top: 324px;
    width: 360px;
}
.event .list ul li.swiper-slide.swiper-slide-next .navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event .list ul li .navi button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #EDEDED;
}
.event .list ul li .navi button i {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
@media screen and (max-width:640px){
    .event {
        height: auto;
    }
    .event .circle {
        display: none;
    }
    .event h2 {
        display: block;
        font-size: 30px;
        font-weight: 700;
        padding-top: 40px;
        text-align: center;
    }
    .event .list {
        padding: 27px 0 68px 0;
    }
    .event .list ul li {
        position: relative;
        text-align: center;
    }
    .event .list ul li.swiper-slide.swiper-slide-next {
        transform: translate(0, 0);
    }
    .event .list ul li a {
        position: relative;
    }
    .event .list ul li a img {
        width: 262px;
    }
    .event .list ul li a .txt {
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: 262px;
        height: 47px;
        background-color: #FFFFFF;
        font-size: 18px;
        text-align: center;
    }
    .event .list ul li.swiper-slide.swiper-slide-active a .txt {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .event .list ul li.swiper-slide.swiper-slide-next a .txt {
        display: none;
    }
    .event .list ul li a .txt p {
        padding: 6px;
        width: 182px;
        font-size: 13px;
    }
    .event .list ul li a .txt p span {
        font-size: 10px;
        color: #B6B6B6;
    }
    .event .list ul li .navi {
        position: absolute;
        display: none;
        left: 0;
        top: 9px;
        width: 262px;
    }
    .event .list ul li.swiper-slide.swiper-slide-next .navi {
        display: none;
    }
    .event .list ul li.swiper-slide.swiper-slide-active .navi {
        display: flex;
        justify-content: space-between;
    }
    .event .list ul li .inner {
        position: relative;
    }
    .event .list ul li .navi button {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #EDEDED;
    }
    .event .list ul li .navi button i {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
}

.banner {
    height: 1400px;
    background-color: #F2F2F2;
}
.banner .banner_list .left {
    position: relative;
    float: left;
    width: 700px;
}
.banner .banner_list .left::before {
    position: absolute;
    right: 700px;
    bottom: 0;
    width: 100%;
    height: 582px;
    background-color: #E8EAF0;
    content: "";
}
.banner .banner_list .left ul li.bx1_L {
    width: 700px;
    height: 240px;
    background: url(../images/main/bx1_L_bg.png) no-repeat center center / cover;
}
.banner .banner_list .left ul li.bx1_L h2 {
    padding: 58px 0 0 81px;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.25;
    color: #FFF;
}
.banner .banner_list .left ul li.bx2_L {
    float: left;
    width: 350px;
    background-color: #FFF;
    text-align: center;
}
.banner .banner_list .left ul li.bx2_L a {
    display: block;
    height: 562px;
}
.banner .banner_list .left ul li.bx2_L img {
    width: 172px;
    margin: 135px 0 59px 0;
}
.banner .banner_list .left ul li.bx2_L p {
    font-size: 25px;
    line-height: 2;
}
.banner .banner_list .left ul li.bx3_L {
    float: left;
    width: 350px;
    background: url(../images/main/bx3_L_bg.png) no-repeat center center / cover;
}
.banner .banner_list .left ul li.bx3_L a {
    display: flex;
    height: 562px;
    align-items: flex-end;
}
.banner .banner_list .left ul li.bx3_L p {
    position: relative;
    padding: 0 0 37px 29px;
    font-size: 20px;
    color: #FFF;
}
.banner .banner_list .left ul li.bx3_L p::before {
    position: absolute;
    left: 1;
    top: -4px;
    width: 28px;
    height: 1px;
    background-color: #FFF;
    content: "";
}
.banner .banner_list .left ul li.bx4_L {
    float: left;
    width: 700px;
    background: url(../images/main/bx4_L_bg.png) no-repeat center center / cover;
    color: #FFF;
}
.banner .banner_list .left ul li.bx4_L a {
    display: block;
    height: 598px;
    padding: 198px 0 0 66px;
}
.banner .banner_list .left ul li.bx4_L a h2 {
    font-size: 30px;
    font-weight: 700;
}
.banner .banner_list .left ul li.bx4_L a p {
    padding: 9px 0 11px 1px;
    font-size: 20px;
}
.banner .banner_list .left ul li.bx4_L a .line {
    position: relative;
}
.banner .banner_list .left ul li.bx4_L a .line::before {
    position: absolute;
    left: 0;
    top: 9px;
    width: 20px;
    height: 2px;
    background-color: #FFF;
    content: "";
}
.banner .banner_list .left ul li.bx4_L a .line::after {
    position: absolute;
    left: 9px;
    top: 0;
    width: 2px;
    height: 20px;
    background-color: #FFF;
    content: "";
}
.banner .banner_list .right {
    position: relative;
    float: right;
    width: 700px;
} 
.banner .banner_list .right::after {
    position: absolute;
    left: 700px;
    bottom: 0;
    width: 100%;
    height: 378px;
    background-color: #E8EAF0;
    content: "";
}
.banner .banner_list .right ul li.bx1_R {
    position: relative;
    float: right;
    width: 700px;
    height: 688px;
    background: url(../images/main/bx1_R_bg.png) no-repeat center center / cover;
    color: #FFF;
}
.banner .banner_list .right ul li.bx1_R .bc {
    position: absolute;
    background-color: rgba(0,0,0,0.25);
    padding: 94px 0 0 65px;
    left: 0;
    top: 0;
    width: 700px;
    height: 688px;
}
.banner .banner_list .right ul li.bx1_R span {
    display: block;
    font-size: 30px;
    font-weight: 700;
}
.banner .banner_list .right ul li.bx1_R span:first-child {
    margin-bottom: 6px;
}
.banner .banner_list .right ul li.bx1_R p {
    margin-top: 19px;
    font-size: 20px;
}
.banner .banner_list .right ul li.bx2_R {
    float: right;
    width: 700px;
    background: url(../images/main/bx2_R_bg.png) no-repeat center center / cover;
    color: #FFF;
}
.banner .banner_list .right ul li.bx2_R a {
    display: block;
    height: 712px;
    padding: 100px 0 0 55px;
}
.banner .banner_list .right ul li.bx2_R a h2 {
    font-size: 30px;
    font-weight: 700;
}
.banner .banner_list .right ul li.bx2_R a p {
    font-size: 20px;
    padding: 7px 0 6px 0;
}
.banner .banner_list .right ul li.bx2_R a .line {
    position: relative;
}
.banner .banner_list .right ul li.bx2_R a .line::before {
    position: absolute;
    left: 0;
    top: 9px;
    width: 20px;
    height: 2px;
    background-color: #FFF;
    content: "";
}
.banner .banner_list .right ul li.bx2_R a .line::after {
    position: absolute;
    left: 9px;
    top: 0;
    width: 2px;
    height: 20px;
    background-color: #FFF;
    content: "";
}
@media screen and (max-width:640px){
    .banner {
        height: auto;
        background-color: #F2F2F2;
    }
    .banner .banner_list .left {
        float: none;
        width: auto;
        height: auto;
        margin: 0 -20px;
        line-height: 0;
    }
    .banner .banner_list .left ul li.bx1_L {
       display: none;
    }
    .banner .banner_list .left ul li.bx2_L {
        width: 50%;
        background-color: #FFF;
    }
    .banner .banner_list .left ul li.bx2_L a {
        height: 100%;
        padding-bottom: 41px;
    }
    .banner .banner_list .left ul li.bx2_L img {
        margin: 0;
        padding: 62px 0 21px 0;
        width: 84px;
    }
    .banner .banner_list .left ul li.bx2_L p {
        font-size: 14px;
        line-height: 2;
    }
    .banner .banner_list .left ul li.bx3_L {
        width: 50%;
    }
    .banner .banner_list .left ul li.bx3_L a {
        height: 100%;
    }
    .banner .banner_list .left ul li.bx3_L p {
        position: relative;
        margin: 0;
        padding: 248px 0 21px 10px;
        font-size: 13px;
    }
    .banner .banner_list .left ul li.bx3_L p::before {
        left: 10px;
        top: 233px;
        width: 28px;
        height: 1px;
    }
    .banner .banner_list .left ul li.bx4_L a {
        display: none;
    }
    .banner .banner_list .right {
        float: none;
        width: auto;
        margin: 0 -20px;
    } 
    .banner .banner_list .right ul li.bx1_R {
        position: relative;
        float: none;
        width: 100%;
        height: auto;
        background: url(../images/main/bx1_R_bg.png) no-repeat center center / cover;
        color: #FFF;
    }
    .banner .banner_list .right ul li.bx1_R .bc {
        position: relative;
        background-color: rgba(0,0,0,0.25);
        padding: 0;
        width: auto;
        height: auto;
    }
    .banner .banner_list .right ul li.bx1_R span {
        display: block;
        font-size: 18px;
        padding: 0 0 0 30px;
    }
    .banner .banner_list .right ul li.bx1_R span:first-child {
        margin-bottom: 0;
        padding: 64px 0 5px 30px;
    }
    .banner .banner_list .right ul li.bx1_R p {
        margin-top: 0;
        padding: 13px 0 174px 34px;
        font-size: 20px;
    }
    .banner .banner_list .right ul li.bx2_R a {
        display: none;
    }
}