@import url('default.css');


header {
  /* body를 기준으로 정렬 */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  /* z-index 숫자가 높은 요소가 위에 배치
    하단에 다른 요소가 z-index를 갖을 수 있기 때문에
     header를 무조건 상단에 두기 위해
     안전하게 100
     즉, content영역에 요소는 z-index를 줘도
     100미만의 값을 줘야함 */
  width: 100%;
  /* absolute를 주면 해당 요소는 
    inline태그처럼 작동된다.
    width가 내부 요소가 존재하는 만금 들어감
   */
   height: 100px;
   border-bottom: 1px solid rgba(204,204,204,0.3);
}
header h1 {
  float: left;
  margin: 33px 285px 0 0;
  font-size: 0;
  line-height: 0;
 /* 로고가 글자없이 이미지만 존재함
    그래도 글자크기와 행간때문에 여백이 발행함
    이 여백을 없애고 img가 존재하는 만큼만 적용 */
}
header h1 a {
  display: block;
  width: 75.33px;
  height: 33px;
  background: url(../images/LG_logo_white.svg) no-repeat center center / 100%;
}
header .gnb {
  float: left;
}
header .gnb button {
  display: none; /* 모바일 메뉴 열기 버튼 */
}
header .gnb ul li {
  float: left;
}
header .gnb ul li a {
  display: block;
  padding: 34px 36px;
  font-size: 20px;
  color: #fff;
}
header .tnb {
  float: right;
  margin: 36px 0 0 0;
}
header .tnb button {
  margin: 0 0 0 40px;
}
header .tnb button i {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
header .tnb span {
  display: none;
}

header.fixed { /* header가 고정됐을때 jquery가 class를 추가 */
  position: fixed;
  background-color: #fff;
}
header.fixed h1 a {
  background: url(../images/LG_logo.svg) no-repeat center center / 100%;
}
header.fixed .gnb ul li a {
  color: #1d1d1d;
}
header.fixed .tnb button i {
  color: #1d1d1d;
}

@media screen and (max-width:640px) {
  header {
    height: 45px;
  }
  header h1 {
    margin: 15px 0 0 0;
  }
  header h1 a {
    display: block;
    width: 36px;
    height: 16px;
    background: url(../images/LG_logo_white.svg) no-repeat center center 100%;
  }
  header .gnb {
    float: right;
    margin: 15px 0 0 0;
  }
  header .gnb button {
    display: block; /* 모바일 메뉴 열기 버튼 */
  }
  header .gnb button i {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
  }
  header .gnb button span {
    display: none;
  }
  header .gnb ul {
    display: none;
  }
  header .tnb {
    display: none;
  } 
  header.fixed .gnb button i {
    color: #1d1d1d;
  }
} /* media 종료 */


.visual {
  position: relative; /* before의 기준점 */
  height: 800px;
  background-image: url(../images/visual_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.visual::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.05);
  content: "";
}
.visual .inner {
  /* before 검은색보다 글자를 위에 배치하기 위해서 사용 */
  position: relative;
  z-index: 1;
}
.visual h2 {
  padding: 420px 0 40px 0;
  font-size: 35px;
  font-weight: 700;
}
.visual h2 span {
  display: block; /* pc에서만 줄바꿈 */
}
@media screen and (max-width:640px) {
  .visual {
    height: auto;
  }
  .visual::before {
    background-color: rgba(0,0,0,0.2);
    content: "";
  }
  .visual .inner {
    /* before 검은색보다 글자를 위에 배치하기 위해서 사용 */
    position: relative;
    z-index: 1;
  }
  .visual h2 {
    padding: 278px 0 136px 0;
    font-size: 15px;
    width: 242px;
  }
  .visual h2 span {
    display: inline; /* pc에서만 줄바꿈 */
  }
  .visual p {
    display: none;
  }
} /* media 종료 */

.biz .lowgroup1 {
  margin: 160px 0 120px 0;
}
.biz .lowgroup2 {
  margin: 0 0 120px 0;
}
.biz .fleft img {
  float: left;
}
.biz .fleft .inner {
  float: right;
  margin: 0 20px;
}
.biz .fright img {
  float: right;
}
.biz .fright .inner {
  float: left;
  margin: 0 20px;
}
.biz .inner {
  width: 510px;
}
.biz h2 {
  margin: 70px 0 20px 0;
  color: #1d1d1d;
  font-size: 35px;
  font-weight: 700;
}
.biz strong {
  display: block;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 400;
}
.biz .link {
  float: left;
  margin: 35px 0 0 0;
}
.biz .link ul li {
  float: left;
  margin: 0 10px 20px 0;
  width: 150px;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.biz .link ul li a {
  /* position: relative; */
  display: block;
  line-height: 32px;
  white-space: nowrap;
  text-align: center;
}
/* .biz .link ul li a::after {
    position: absolute;
    right: 5px;
    top: 8px;
    color: #000;
    font-family: 'Material Symbols Rounded';
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: "\e5c8";
}  이것을 사용해서 아이콘을 넣을 수 있음 
   넣는 곳에 position: relative;는 필수 */

@media screen and (max-width:640px) {
    .biz .lowgroup1 {
      margin: 80px 0 60px 0;
    }
    .biz .lowgroup2 {
      margin: 0 0 60px 0;
    }
    .biz .lowgroup3 {
      margin: 0 0 20px 0;
    }
    .biz .fleft img {
      float: none;
    }
    .biz .fleft .inner {
      float: none;
      margin: 0;
    }
    .biz .fright img {
      float: none;
    }
    .biz .fright .inner {
      float: none;
      margin: 0;
    }
    .biz .inner {
      width: auto;
    }
    .biz img {
      width: 100%; /* img태그는 넓이나 높이 하나만 주면 비율에 맞게 줄어듬 */
    }
    .biz h2 {
      margin: 20px 0 10px 0;
      font-size: 20px;
    }
    .biz strong {
      margin: 0 0 10px 0;
      font-size: 13px;
    }
    .biz .link {
      margin: 20px 0 0 0;
      height: 44px;
    }
    .biz .link ul li {
      width: auto;
      margin: 0px 5px 0 0;
    }
    .biz .link ul li a {
      /* position: relative; */
      padding: 0 13px;
      line-height: 32px;
    }

    /* 
        link의 ul li를 좌우로 배치하고 슬라이드 되도록 하기 위함
        1. ul은 모든 li의 넓이의 합을 넓이로 가지고 있어야함
        2. ul은 position: absolute 이어야함
        3. ul을 감싸고 있는 요소는 좌우스크롤을 허용해야함(내부 콘텐츠 만큼의)
    */
    .biz .link {
      position: relative;
      left: -15px;
      overflow: auto;
      width: calc(100% + 20px); /* %단위와 px단위를 동시에 계산해야 할때 사용 */
      height: 44px;
    }
    .biz .link ul {
      position: absolute;
      left: 5px;
      top: 5px;
    }
    .biz .lowgroup1 .link ul {
      width: 480px;
    }
    .biz .lowgroup2 .link ul {
      width: 333px;
    }
    .biz .lowgroup3 .link ul {
      width: 353px;
    }
}/* media 종료 */

.purpose {
  position: relative;
  height: 500px;
  margin: 160px 0;
  background-image: url(../images/purpose_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.purpose::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  content: "";
}
.purpose .inner {
  position: relative;
  z-index: 1;
}
.purpose h2 {
  padding: 170px 0 40px 0;
  font-size: 40px;
}
.purpose h2 strong {
  position: relative;
}
.purpose h2 strong::before {
  left: -124px;
  top: 10px;
  background-image: url(../images/prop_quot_left.png);
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
.purpose h2 strong::after {
  right: -80px;
  bottom: 25px;
  background-image: url(../images/prop_quot_right.png);
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
.purpose h2 strong::before, .purpose h2 strong::after {
  position: absolute;
  width: 70px;
  height: 70px;
  font-size: 200px;
  font-weight: 700;
  line-height: 1.3;
}
@media screen and (max-width:640px) {
    .purpose {
      height: auto;
      margin: 80px 0;
    }
    .purpose::before {
      background-color: rgba(0,0,0,0.3);
    }
    .purpose h2 {
      padding: 113px 0 30px 0;
      font-size: 20px;
    }
    .purpose h2 strong {
      position: relative;
    }
    .purpose h2 strong::before {
      left: -37px;
      top: -43px;
      background-size: 20px auto;
    }
    .purpose h2 strong::after {
      right: 37px;
      bottom: -47px;
      background-size: 20px auto;
    }
    .purpose h2 span {
      display: block;
    }
    .purpose p {
      padding: 0 0 75px 0;
    }
}/* media 종료 */

.news {
  margin: 0 0 160px 0;
}
.news h2 {
  display: none; 
  /* 웹표준 상 section은 반드시 heading태그를 포함해야
    하기 때문에 h2를 주고 숨김처리함 */
}
.news ul li {
  float: left;
  width: 290px;
  margin: 0 40px 0 0;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.news ul li:last-child {
  margin-right: 0;
}
.news ul li a {
  display: block;
}
.news ul li a img {
  width: 100%;
}
.news ul li a .cate {
  display: block;
  margin : 20px 0 10px 50px;
  font-weight: 700;
}
.news ul li a .tit {
  display: block;
  margin : 0 50px;
  font-weight: 400;
  /* 2줄 고정 */
  line-height: 1.2;
  height: 2.4em; /* 행간*줄수 - 단위 em */
  overflow: hidden;
  /* 행간이 1.2배이고 높이는 그것의 2배이므로 2.4배 이다. 그리고 오버플로우 히든을
    주어서 그 뒤에 글을 전부 잘랐다. */
}
.news ul li a .date {
  display: block;
  margin : 10px 0 20px 50px;
}
@media screen and (max-width:640px) {
  .news {
    margin: 0 0 80px 0;
  }
  .news ul li {
    display: none;
    float: none;
    width: 100%;
    margin: 0;
  }
  .news ul li:first-child {
    display: block;
    /* 한개의 li만 나오도록 하기 위해서 모든 li를 숨기고
      첫번째 li만 남도록 함 */
  }
  .news ul li a .cate {
    font-size: 14px;
  }
  .news ul li a .tit {
    height: auto; /* 2줄고정 해제 */
    overflow: visible;
  }
  .news ul li a .date {
    margin: 0;
    padding : 10px 0 20px 50px;
  }
}

footer {
  padding: 45px 0 152px 0;
  background-color: #333333;
  color: rgba(255,255,255,0.6);
}
footer .family {
  float: right;
}
footer .family button {
  width: 180px;
  height: 49px;
  padding: 0 15px 0 25px;
  border: 1px solid rgba(255,255,255,0.6);
  /* button 태그는 높이를 주면 글자가 위아래 가운데
    세로정렬을 함
    a엿다면 padding이나 line-height로 세로정렬값을 
    별도로 줘야함 */
}
footer .family button span {
  float: left;
}
footer .family button i {
  float: right;
}
footer .inner {
  float: left;
}
footer .fnav {
  margin: 1px 0 0 0;
}
footer .fnav li {
  position: relative;
  float: left;
}
footer .fnav li::after {
  position: absolute;
  right: -2px;
  top: 7px;
  width: 1px;
  height: 11px;
  background-color: rgba(255,255,255,0.6);
  content: "";
}
footer .fnav li:last-child::after {
  display: none; /* li중에 마지막 li의 after를 숨김 */
}
footer .fnav li.privacy {
  font-weight: 700;
}
footer .fnav li a {
  display: block;
  padding: 0 14px;
}
footer .fnav li:first-child a {
  padding-left: 0;
}
footer .finfo {
  margin: 20px 0 10px 0;
  color: rgba(255,255,255,0.6);
}
footer .copyright {
  color: rgba(255,255,255,0.6);
}
@media screen and (max-width:640px) {
  footer {
    padding: 49px 0 50px 0;
    background-color: #333333;
    color: rgba(255,255,255,0.6);
  }
  footer .family {
    float: none;
  }
  footer .family button {
    width: 180px;
    height: 33px;
    padding: 0 15px 0 25px;
    border: 1px solid rgba(255,255,255,0.6);
    /* button 태그는 높이를 주면 글자가 위아래 가운데
      세로정렬을 함
      a엿다면 padding이나 line-height로 세로정렬값을 
      별도로 줘야함 */
  }
  footer .inner {
    float: none;
    margin: 27px 0 0 0;
  }
  footer .fnav li {
    float: left;
  }
  footer .fnav li::after {
    right: 1px;
    top: 5px;
  }
  footer .fnav li:first-child a {
    padding-left: 0;
  }
  footer .info {
    margin: 20px 0 10px 0;
    color: rgba(255,255,255,0.6);
  }
  footer .copyright {
    color: rgba(255,255,255,0.6);
  }
}